html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: rgb(221, 221, 221);
  background-color: #333;

  background-image: url("../assets/img/ph-250.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;

  display: grid;
  place-items: center;

  padding: .5rem;
}

h1 {
  font-size: 3rem;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);  
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bold;
}

a {
  color: inherit;
  font-weight: bold;
}


body > * {
  grid-row: 1;
  grid-column: 1;
}

.cta {
  font-size: 2rem;
  margin-bottom: 1rem;
}

form * {
  font-size: 1.5rem;
}

form {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 3fr 1fr;
}

.credits {
  font-size: .8rem;
  align-self: flex-end;
  justify-self: end;
  opacity: .5;
}

@media screen and (min-width: 250px) {
  body {
    background-image: url("../assets/img/ph-500.jpeg");
  }
}

@media screen and (min-width: 250px) and (min-resolution: 2dppx){  /* x2 and one step up */
  body {
    background-image: url("../assets/img/ph-750.jpeg");
  }
}



@media screen and (min-width: 500px) {
  body {
    background-image: url("../assets/img/ph-750.jpeg");
  }
}

@media screen and (min-width: 500px) and (min-resolution: 2dppx) {
  body {
    background-image: url("../assets/img/ph-1500.jpeg");
  }
}


@media screen and (min-width: 750px) {
  body {
    background-image: url("../assets/img/ph-1000.jpeg");
  }
}

@media screen and (min-width: 750px)  and (min-resolution: 2dppx){
  body {
    background-image: url("../assets/img/ph-2000.jpeg");
  }
}


@media screen and (min-width: 1000px) {
  body {
    background-image: url("../assets/img/ph-1500.jpeg");
  }
}

@media screen and (min-width: 1000px) and (min-resolution: 2dppx){
  body {
    background-image: url("../assets/img/ph-2500.jpeg");
  }
}



@media screen and (min-width: 1500px) {
  body {
    background-image: url("../assets/img/ph-2000.jpeg");
  }
}

@media screen and (min-width: 1500px) and (min-resolution: 2dppx){ /* we have to stop somewhere...*/
  body {
    background-image: url("../assets/img/ph-2500.jpeg");
  }
}


@media screen and (min-width: 2000px) {
  body {
    background-image: url("../assets/img/ph-2500.jpeg");
  }
}